@model IdentityRole
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<div class="form-group">
        <label class="col-form-label " asp-for="@Model.Name"> </label>
    <input asp-for="@Model.Name" class="form-control" readonly />
    </div>
  <div>
    <a asp-action="Edit" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
  </div>

