
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div>
    <div>
        <p> Password  reset has been sent to your Email ,Please check your inbox ?</p>
    </div>
    <div>
        <a  href="https://mail.google.com/mail/u/0/#inbox"> Your Inbox</a>
    </div>
</div>

