@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div >
    <div>
        <form asp-action="ForgetPassword">
            <input class=" text-email" type="email" asp-for="Email" placeholder="Email"/>
            <span asp-validation-for="@Model.Email"></span>
            <input  type="submit" value=" forget Password"/>

        </form>
    </div>

</div>
