
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>
    <div>
        <p>Your Password was reseted Successfully ,Please Login Again ?</p>
    </div>
    <div>
        <a asp-action="SignIn" asp-controller="Account"> LogIn</a>
    </div>
</div>
