@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div>
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All"> </div>
            <input asp-for="Email" type="hidden"/>
            <input asp-for="Token" type="hidden" />
            <input type="password" asp-for="Password" placeholder="Password"/>
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <input type="submit" value="ResetPassword"/>

        </form>
    </div>
</div>
